@page
@using LtiAdvantage
@model EduManagementLab.Web.Pages.Students.AssignmentDetailsModel

@{
}
<h1>@Model.CourseTask.Name</h1>

<div>
    <div class="row">
        <div class="text-left"><h4>Assignment details</h4></div>
    </div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTask.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTask.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTask.Results.FirstOrDefault(p => p.CourseTaskId == @Model.CourseTask.Id).Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTask.Results.FirstOrDefault(p => p.CourseTaskId == @Model.CourseTask.Id && p.Membership.UserId == @Model.UserId).Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTask.Results.FirstOrDefault(p => p.CourseTaskId == @Model.CourseTask.Id).LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTask.Results.FirstOrDefault(p => p.CourseTaskId == @Model.CourseTask.Id).LastUpdated)
        </dd>
    </dl>

    <hr />
    @if (Model.CourseTask.IMSLTIResourceLinks.Any())
    {
        @foreach (var resource in @Model.CourseTask.IMSLTIResourceLinks)
        {
            var url = Url.Page("OidcLaunch", new
            {
                id = resource.Id,
                messageType = Constants.Lti.LtiResourceLinkRequestMessageType,
                courseId = @Model.CourseId,
                personId = @Model.UserId.ToString()
            });
            <div class="w-100">
                <h4>@resource.Title</h4>
                <p>@resource.Description</p>
                <a href="@url" target="_blank">
                    Launch @resource.Title
                </a>
            </div>
        }
    }
</div>

@*Validates input without closing modal*@
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}