@page
@model EduManagementLab.Web.Pages.Students.CourseDetailsModel
@{
}
<h1>@Model.Course.Name</h1>

<div>
    <div class="row">
        <div class="text-left"><h4>Course details</h4></div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndDate)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="text-left"><h4>Course Task</h4></div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseTasks[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseTasks[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Course.CourseTasks != null)
        {
            @foreach (var courseTask in Model.Course.CourseTasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => courseTask.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => courseTask.Description)
                    </td>
                    <td>
                        <a asp-page="../Students/AssignmentDetails" asp-route-courseTaskId="@courseTask.Id" asp-route-courseId="@Model.Course.Id">Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h4>No Course Task Items for this course</h4>
        }
    </tbody>
</table>


<div>
    <a asp-page="./Index">Back to course list</a>
</div>

@*Validates input without closing modal*@
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}