@page
@model EduManagementLab.Web.Pages.Courses.DetailsModel
@{
    ViewData["Title"] = "Details";

    <script type="text/javascript">
        function Validate() {
            var users = document.getElementById("Users");
            var message = document.getElementById("msg");
            if (users.value == 0) {
                message.innerHTML = "Please select a user!";
                message.style.color = "red";
                return false;
            }
            return true;
        }
    </script>
}

<h1>@Model.Course.Name</h1>

<div>
    <div class="row">
        <div class="col-md-7 text-md-left"><h4>Course details</h4></div>
        <div class="col-md-5 text-md-end">
            <a asp-page="./EditCourseInfo" asp-route-id="@Model.Course.Id">Edit course info</a> |
            <a asp-page="./EditCoursePeriod" asp-route-id="@Model.Course.Id">Edit course period</a>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndDate)
        </dd>
    </dl>
</div>
<hr />
@*using id atm as course is null*@
<div class="row">
    <div class="col-md-6"><h4>Students enrolled in this course</h4></div>
    @*Modal pop up*@
    <div class="col-md-6 text-md-end">
        <div class="justify-content-end d-flex">
            <div style="margin:9px; float:right">
                <form method="post" asp-page-handler="SortingList" asp-route-courseId="@Model.Course.Id">
                    <select name="sortingId"
                            asp-for="SelectedIteminSortingList"
                            asp-items="Model.SortingList"
                            onchange="this.form.submit();"
                            class="form-select">
                    </select>
                </form>
            </div>
            <div style="float:right">
                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#create">
                    Add membership
                </button>
            </div>
        </div>
        <div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="create">Add Course Membership</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-md-start">
                        @Html.AntiForgeryToken()
                        <h5 class="text-center">Create a new user</h5>
                        <form method="post" class="row g-3" asp-route-courseId="@Model.Course.Id" asp-page-handler="NewUser">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Username" class="control-label"></label>
                                <input asp-for="Input.Username" class="form-control" />
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password" class="control-label"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.DisplayName" class="control-label"></label>
                                <input asp-for="Input.DisplayName" class="form-control" />
                                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.FirstName" class="control-label"></label>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.LastName" class="control-label"></label>
                                <input asp-for="Input.LastName" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="control-label"></label>
                                <input id="emailInput" asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Add to course" class="btn btn-primary" />
                            </div>
                        </form>
                        @if (ViewData["ShowCreateModal"] != null)
                        {
                            <script type="text/javascript">
                                $(function () {
                                    $('#create').modal('show');
                                });
                            </script>
                        }

                        <br /><h5 class="text-center">or</h5><br />
                        <hr />

                        <h5 class="text-center">Find an existing user</h5>
                        <form method="post" asp-route-courseId="@Model.Course.Id" asp-page-handler="ExistingUser" id="existingUserForm" class="text-center">
                            <div class="form-group">
                                <select id="Users" name="Id" asp-items="@Model.UserListItems">
                                    <option value="0">--Select User--</option>
                                </select>
                                <div id="msg"></div>
                            </div>
                            <input type="hidden" name="Email" />
                            <br />
                            <br />
                            <div class="form-group text-center">
                                <input id="submitValue" class="btn btn-primary" type="submit" value="Add to course" onclick="return Validate()" />
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].User.Displayname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].EnrolledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Memperships[0].EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Course.Memperships != null)
        {
            @foreach (var courseMembership in Model.ListOfFilteredMembers)
            {
                @if (courseMembership.EndDate == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.User.Displayname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.EnrolledDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => courseMembership.EndDate)
                        </td>
                        <td class="d-flex justify-content-lg-start">
                            <a type="button" class="btn btn-primary m-2" asp-page="../Users/Details" asp-route-userId="@courseMembership.UserId">Details</a>
                            <div id="modal-placeholder"></div>
                            <button type="button" class="btn btn-danger m-2" data-toggle="ajax-endMember" data-url="@Url.Page("/Courses/Details", "EndMemberModalPartial", new {courseId = @Model.Course.Id, userId =@courseMembership.UserId } )">
                                End Member
                            </button>
                            <button type="button" class="btn btn-danger m-2" data-toggle="ajax-deleteMember" data-url="@Url.Page("/Courses/Details", "DeleteMemberModalPartial", new {courseId = @Model.Course.Id, userId =@courseMembership.UserId } )">
                                Delete Member
                            </button>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.User.Displayname)
                        </td>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.User.FirstName)
                        </td>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.User.LastName)
                        </td>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.User.Email)
                        </td>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.EnrolledDate)
                        </td>
                        <td style="opacity: 0.4;">
                            @Html.DisplayFor(modelItem => courseMembership.EndDate)
                        </td>
                        <td class="d-flex justify-content-lg-start">
                            <div id="modal-placeholder"></div>
                            <button type="button" class="btn btn-danger m-2" data-toggle="ajax-activate-Member" data-url="@Url.Page("/Courses/Details", "ReactiveMemberModalPartial", new {courseId = @Model.Course.Id, userId =@courseMembership.UserId } )">
                                Activate Member
                            </button>
                        </td>
                    </tr>
                }

            }
        }
        else
        {
            <h4>No enrollment in this course!</h4>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-10"><h4>Course tasks</h4></div>
    <div class="col-md-2 text-md-end">
        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#createCourseTask">
            Add course task
        </button>
        <div class="modal fade" id="createCourseTask" tabindex="-1" aria-labelledby="createCourseTask" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="createCourseTask">Add course task</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-md-start">
                        @Html.AntiForgeryToken()
                        <h5 class="text-center">Create new Course Task</h5>
                        <form method="post" asp-route-courseId="@Model.Course.Id" asp-page-handler="CreateCourseTask">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="courseTaskInput.Name" class="control-label"></label>
                                <input asp-for="courseTaskInput.Name" class="form-control" />
                                <span asp-validation-for="courseTaskInput.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="courseTaskInput.Description" class="control-label"></label>
                                <input asp-for="courseTaskInput.Description" class="form-control" />
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Add to course" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseTasks[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseTasks[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Course.CourseTasks != null)
        {
            @foreach (var courseTask in Model.Course.CourseTasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => courseTask.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => courseTask.Description)
                    </td>
                    <td>
                        <a asp-page="../CourseTasks/Details" asp-route-courseId="@Model.Course.Id" asp-route-courseTaskId="@courseTask.Id">Details</a> |
                        <a asp-page="../CourseTasks/RemoveCourseTask" asp-route-courseId="@Model.Course.Id" asp-route-courseTaskId="@courseTask.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h4>No Course tasks for this course</h4>
        }
    </tbody>
</table>


<div>
    <a asp-page="./Index">Back to course list</a>
</div>

@*Validates input without closing modal*@
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}