@page
@model EduManagementLab.Web.Pages.Courses.RemoveMembershipModel
@{
    ViewData["Title"] = "Delete Membership";
}

<h1>Delete Membership</h1>

<h3>Are you sure you want to delete @Model.User.Displayname?</h3>
<div>
    <h4>Course Membership</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        @*        <div class="form-group">
            <label>Delete all results <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="This checkbox will delete all the student's results from all the tests and assignments"><strong>?</strong></span></label>
            <input asp-for="DeleteResult" type="checkbox" class="btn btn-secondary" />
            </div>*@

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteMember">
            Delete
        </button>
        <div class="col-4">
            <div class="col-md-2 text-md-end">
                <div class="modal fade removemodal" id="DeleteMember" tabindex="-1" aria-labelledby="DeleteMember" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="DeleteMember">Remove member</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-md-start">
                                <h6 class="text-center">Why do you want to remove this student from this course?</h6>
                                <br />
                                <div style="font-size: 14px;">
                                    <p class="fw-bolder">*Student completed the course:<p>The student and results will be deleted from this course.</p>
                                    <p class="fw-bolder">*Student does not complete the course but have done some assignment:<p>The results of this student will be remain in this course.(you have to delete the results manuely)</p>
                                    <p class="fw-bolder">*Student does not complete the course and have no results:<p>The student will be deleted from this course</p>
                                    <p class="fw-bolder">*Student does not belong to this course:<p>The student will be remove from this course include results.</p>
                                </div>
                                <br />
                                <select asp-for="SelectedReason" class="form-select mt-3" aria-label="Default select example">
                                    <option selected>---Select a reason---</option>
                                    <option value="1">Student completed the course</option>
                                    <option value="2">Student does not complete the course (for reasons such as : Drop off/Doesn't finish assignments)</option>
                                    <option value="3">Student does not complete the course and have no results</option>
                                    <option value="4">Student does not belong to this course</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>