@page 
@model  EduManagementLab.Web.Pages.CourseLineItems.DetailsModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <h1>@Model.CourseLineItem.Name</h1>

    <div>
        <div class="row">
            <div class="col-md-7 text-md-left"><h4>Course Line Item details</h4></div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLineItem.Description)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLineItem.Description)
            </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLineItem.Active)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLineItem.Active)
            </dd>
        </dl>
    </div>
     <div class="row">
        <div class="col-md-10"><h4>Results for this course</h4></div>
        </div>
    <hr />
        <table class="table">
        <thead>
            <tr>
                <th>
                @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].User.FirstName)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].User.LastName)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].Score)
                </th>
            </tr>
        </thead>
        <tbody>
        @if (Model.CourseLineItem.Results != null)
        {
            @foreach (var result in Model.CourseLineItem.Results)
            {
                            <tr>
                                <td>
                        @Html.DisplayFor(modelItem => result.User.FirstName)
                                </td>
                                 <td>
                        @Html.DisplayFor(modelItem => result.User.LastName)
                                </td>
                                <td>
                        @Html.DisplayFor(modelItem => result.Score)
                                </td>
                           </tr>
            }
        }
        else
        {
                   <h4>No results for this course!</h4> 
        }
        </tbody>
    </table>
}