@page
@model EduManagementLab.Web.Pages.CourseLineItems.DetailsModel
@{
    ViewData["Title"] = "Details";

    <h1>@Model.CourseLineItem.Name</h1>

    <div>
        <div class="row">
            <div class="col-md-7 text-md-left">
                <h4>Course Line Item details</h4>
            </div>
            <div class="col-md-5 text-md-end">
                <a asp-page="./EditCourseLineItemInfo" asp-route-id="@Model.CourseLineItem.Id" asp-route-courseId=@Model.Course.Id>Edit courselineitem info</a>|
                <a asp-page="./CourseTaskResourceLinks" asp-route-courseTaskId="@Model.CourseLineItem.Id">Resource Links</a>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CourseLineItem.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseLineItem.Description)
            </dd>

        </dl>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <h4>Results for this course</h4>
            <span class="text-warning">@ViewBag.error</span>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].Membership.User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].Membership.User.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].LastUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].Score)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseLineItem.Results != null)
            {
                <form method="post" id="form__submit" asp-page-handler="UpdateScore" asp-route-lineItemId="@Model.CourseLineItem.Id" asp-route-courseId="@Model.Course.Id">
                    @{
                        @for (int i = 0; i < Model.userScoreList.Count; i++)
                        {
                            @if (@Model.userScoreList[i].EndDate == null)
                            {
                            <tr>
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].Firstname)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].Lastname)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].lastUpdated)
                                </td>
                                <td>
                                    <div class="container">
                                        <div class="row justify-content-start">
                                                @if (@Model.userScoreList[i].Score != 0)
                                                {
                                                <div class="col-4">
                                                    <input type="text" value="@Model.userScoreList[i].Score" asp-for="@Model.userScoreList[i].Score" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].UserId" asp-for="@Model.userScoreList[i].UserId" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].LineItemId" asp-for="@Model.userScoreList[i].LineItemId" />
                                                </div>
                                                }
                                                else if (@Model.userScoreList[i].Score == 0)
                                                {
                                                <div class="col-4">
                                                    <input type="text" value="" asp-for="@Model.userScoreList[i].Score" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].UserId" asp-for="@Model.userScoreList[i].UserId" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].LineItemId" asp-for="@Model.userScoreList[i].LineItemId" />
                                                </div>
                                                }
                                                else
                                                {
                                                <div class="col-4">
                                                    <p>@Model.userScoreList[i].Score.ToString()</p>
                                                    <input hidden type="text" value="@Model.userScoreList[i].UserId" asp-for="@Model.userScoreList[i].UserId" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].LineItemId" asp-for="@Model.userScoreList[i].LineItemId" />
                                                </div>
                                                }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                            else
                            {
                            <tr style="opacity: 0.4; pointer-events: none;">
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].Firstname)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].Lastname)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => @Model.userScoreList[i].lastUpdated)
                                </td>
                                <td>
                                    <div class="container">
                                        <div class="row justify-content-start">
                                                @if (@Model.userScoreList[i].Score != 0)
                                                {
                                                <div class="col-4">
                                                    <p>@Model.userScoreList[i].Score.ToString()</p>
                                                    <input hidden type="text" value="@Model.userScoreList[i].UserId" asp-for="@Model.userScoreList[i].UserId" />
                                                    <input hidden type="text" value="@Model.userScoreList[i].LineItemId" asp-for="@Model.userScoreList[i].LineItemId" />
                                                </div>
                                                }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    }
                <button class="btn btn-primary justify-content-end" type="submit">Save all</button>
                </form>
                <div class="col" style="width:20%; float:right;">
                    <form method="post" asp-page-handler="Filter" asp-route-lineItemId="@Model.CourseLineItem.Id" asp-route-courseId="@Model.Course.Id">
                        <select asp-for="selectedFilter" onchange="this.form.submit()" class="dropdown form-select border-color-lightbrown" aria-label="Default select example" asp-items="@Model.filterList">
                        </select>
                    </form>
                </div>
            }
            else
            {
                <h4>No results for this course!</h4>
            }
        </tbody>
    </table>
}