@page
@model EduManagementLab.Web.Pages.CourseLineItems.DetailsModel
@{
    ViewData["Title"] = "Details";

    <h1>@Model.CourseLineItem.Name</h1>

    <div>
        <div class="row">
            <div class="col-md-7 text-md-left">
                <h4>Course Line Item details</h4>
            </div>
            <div class="col-md-5 text-md-end">
                <form method="post" asp-route-lineItemId="@Model.CourseLineItem.Id">
                    <div class="form-check form-switch">
                        <input class="form-check-input" style="position:absolute;" onchange="this.form.submit()" type="checkbox" role="switch" aria-checked="true" asp-for="IsChecked" name="IsChecked" value="true" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Active</label> |
                        <a asp-page="./EditCourseLineItemInfo" asp-route-id="@Model.CourseLineItem.Id">Edit courselineitem info</a>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CourseLineItem.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseLineItem.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CourseLineItem.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseLineItem.Active)
            </dd>
        </dl>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <h4>Results for this course</h4>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].User.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLineItem.Results[0].Score)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseLineItem.Results != null)
            {
                @foreach (var result in Model.CourseLineItem.Results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => result.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => result.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => result.Score)
                        </td>
                    </tr>
                }
            }
            else
            {
                <h4>No results for this course!</h4>
            }
        </tbody>
    </table>
}