@page
@model EduManagementLab.Web.Pages.CourseLineItems.RemoveCourseLineItemResultModel
@{
    ViewData["Title"] = "Delete CourseLineItemResult";
}

<h1>Delete Course Line Item Result</h1>

<h3>Are you sure you want to delete @Model.userResultDto.Firstname?</h3>
<div>
    <h4>Course Line Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userResultDto.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userResultDto.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userResultDto.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userResultDto.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userResultDto.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userResultDto.Score)
        </dd>
    </dl>

    <form method="post" asp-route-courseId="@Model.userResultDto.CourseId" asp-route-userId="@Model.userResultDto.UserId" asp-route-lineItemId="@Model.userResultDto.LineItemId">
        <a href='javascript:history.go(-1)' class="btn btn-primary">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>