@page
@model EduManagementLab.Web.Pages.CourseLineItems.ViewResultsModel
@{
    ViewData["Title"] = "ViewResults";

    <h1>@Model.CourseLineItem.Name</h1>

    <div>
        <div class="row">
            <div class="col-md-7 text-md-left">
                <h4>Course Line Item details</h4>
            </div>
            <div>
                <p>This page displays only results of members who participate in this quiz/assignment.</p>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CourseLineItem.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CourseLineItem.Description)
            </dd>
        </dl>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <h4>Results for this course</h4>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userScore.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userScore.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userScore.lastUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userScore.Score)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseLineItem.Results != null)
            {
                @for (int i = 0; i < Model.userScoreList.Count; i++)
                {
                    @if (@Model.userScoreList[i].EndDate == null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.userScoreList[i].Firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.userScoreList[i].Lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.userScoreList[i].lastUpdated)
                            </td>
                            <td>
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-4">
                                            <p>@Model.userScoreList[i].Score.ToString()</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <h4>No results for this course!</h4>
            }
        </tbody>
    </table>
}