@page
@model EduManagementLab.Web.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "Details";

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
}

<h1>@Model.User.Displayname</h1>

    <div class="row">
        <div class="col-md-7 text-md-left"><h4>User details</h4></div>
        <div class="col-md-5 text-md-end"><a asp-page="./EditName" asp-route-id="@Model.User.Id">Edit name details</a> | <a asp-page="./ChangeEmail" asp-route-id="@Model.User.Id">Change Email</a></div>
    </div>
    <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Displayname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Displayname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        </dl>
    <hr />

    @*using id atm as course is null*@
    <div class="row">
        <div class="col-md-10"><h4>Courses enrolled by @Model.User.FirstName</h4></div>
        @*Modal pop up*@
        <div class="col-md-2 text-md-end">
            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#create">
                Add course
            </button>
            <div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="create">Find courses</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-md-start">
                            <h5 class="text-center">Find an existing course</h5>
                            <form method="post" asp-route-userId="@Model.User.Id" id="existingUserForm">
                                <div class="form-group text-center">
                                    <select id="Courses" name="Id" asp-items="@Model.CourseListItems">
                                        <option value="0">--Select Course--</option>
                                    </select>
                                </div>
                                <input type="hidden" name="Name"/>
                                <br/>
                                <br/>
                                <div class="form-group text-center">
                                    <input id="submitValue" class="btn btn-primary" type="submit" value="Add to list"/>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseList[0].Course.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseList[0].Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseList[0].Course.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseList[0].Course.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseList[0].Course.EndDate)
                </th> 
                @*<th>
                    @Html.DisplayNameFor(model => model.Course[0].EnrolledDate)
                </th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.CourseList != null)
            {
                @foreach (var course in Model.CourseList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => course.Course.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Course.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Course.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Course.EndDate)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => course.EnrolledDate)
                        </td>*@
                        <td>
                            <a asp-page="../Courses/Details" asp-route-courseId="@course.Course.Id">Details</a> |
                            <a asp-page="./RemoveCourse" asp-route-courseId="@course.Course.Id" asp-route-userId="@Model.User.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
               <h3>Student hasn't enroll in any course</h3> 
            }
        </tbody>
    </table>
<div>
    <a asp-page="./Index">Back to user list</a>
</div>
