@page
@model EduManagementLab.Web.Pages.CourseTasks.EditCourseTaskInfoModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-id="@Model.Id" asp-route-courseId="@Model.CourseId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href='javascript:history.go(-1)' class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
